
@font-face {
    font-family: 'budmojiggler';
    src: url('../fonts/budmo_jiggler_macroman/budmo_jiggler-webfont.eot');
    src: url('../fonts/budmo_jiggler_macroman/budmo_jiggler-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/budmo_jiggler_macroman/budmo_jiggler-webfont.woff2') format('woff2'),
         url('../fonts/budmo_jiggler_macroman/budmo_jiggler-webfont.woff') format('woff'),
         url('../fonts/budmo_jiggler_macroman/budmo_jiggler-webfont.ttf') format('truetype'),
         url('../fonts/budmo_jiggler_macroman/budmo_jiggler-webfont.svg#budmojiggler') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CreampuffRegular';
    src: url('../fonts/creampuff/creampuf-webfont.eot');
    src: url('../fonts/creampuff/creampuf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/creampuff/creampuf-webfont.woff') format('woff'),
         url('../fonts/creampuff/creampuf-webfont.ttf') format('truetype'),
         url('../fonts/creampuff/creampuf-webfont.svg#CreampuffRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}


html {
	font-size: 1em;
}


body {
	font-family: 'Exo 2', sans-serif;
	color: white;
}

#logo {
	margin: 0 auto;
	width: 60%;
	max-width: 600px;
	/*height: 113px;*/
	padding-bottom: 1em;
}

h1, h2, li {
	text-align: center;
	font-family: 'budmojiggler';
	text-transform: uppercase;
}

h1 {
	margin: .6em auto;
	width: 80%;	
	font-size: 5em;
	padding: .4em;
	letter-spacing: 0.1em;
	

}

h2 {
	/*margin: .4em auto;*/
	/*width: 80%;	*/
	margin: 0 auto;
	font-size: 4em;
	padding: .3em;
	/*letter-spacing: 0.1em;*/	
}

p {
	margin: 0 auto;
	text-align: center;
	font-size: 2em;
	max-width: 800px;
  orphans: 2;
	/*padding: 1em;*/
}

.small {
  font-size: 1em;
}

ul {
	padding: 0;
    list-style-type: none;
}

li {
	font-size: 2.4em;
}

a {
  text-decoration:none; 
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

img {
	display: block;
  max-width: 100%;	
  margin: 0 auto; 
}

.fullHeight {
  max-height: 85%;
  max-height: 85vh;
}

.halfHeight {
  max-height: 40%;
  max-height: 40vh;
}

.instruction {
	margin: 0 auto;
	font-family: 'CreampuffRegular';
	font-size: 4em;
	text-align: center;
}

.black {
	background-color: black;
}

.yellow {
	color: #FFC906;
}

.teal {
	color: #00938D;
}

.pink {
	color: #EC008B;
}

.left p {
  text-align: left;
  padding: 1em;
}

.left h2 {
  text-align: left;
  padding-left: .5em;
}

.left li {
  text-align: left;
  padding-left: 1em;
}

.right p{
  text-align: right;
  padding: 1em;
}

.right h2{
  text-align: right;
  padding: .3em;
}

.dashed {
	border: dashed .1em white;
	margin: .8em;
}

.social-wrapper {
  width: 300px;
  margin: 50px auto 0 auto;
  display: block;
  text-align: center;
}

.social {
  width: 130px;
  display: inline-block;

}

.social img{
  margin: 0 auto;
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.neonPink:hover {
	-webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  	-moz-animation: neon1 1.5s ease-in-out infinite alternate;
  	animation: neon1 1.5s ease-in-out infinite alternate; 
}

.neonYellow:hover {
	-webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

.dashedYellow {
	border: dashed .1em #FFC906;
}

.dashedPink {
	border: dashed .1em #EC008B;
}

.left {
	text-align: left;
}

.pure-g {
	margin: 0 auto;
  max-width: 1200px;
}



/* ============================================================================================================================
== OVAL SPEECH BUBBLE (more CSS3)
** ============================================================================================================================ */

.oval-speech {
  position:relative;
  width:270px;
  padding:50px 40px;
  margin:1em auto 50px;
  text-align:center;
  color:#fff;
  background:#5a8f00;
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#b8db29), to(#5a8f00));
  background:-moz-linear-gradient(#b8db29, #5a8f00);
  background:-o-linear-gradient(#b8db29, #5a8f00);
  background:linear-gradient(#b8db29, #5a8f00);
  /*
  NOTES:
  -webkit-border-radius:220px 120px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:220px / 120px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:220px 120px;
  -webkit-border-top-right-radius:220px 120px;
  -webkit-border-bottom-right-radius:220px 120px;
  -webkit-border-bottom-left-radius:220px 120px;
  -moz-border-radius:220px / 120px;
  border-radius:220px / 120px;
}

/* ============================================================================================================================
== OVAL SPEECH BUBBLE WITH QUOTATION MARKS (more CSS3)
** ============================================================================================================================ */

.oval-quotes {
  position:relative;
  width:600px;
  height:200px;
  margin:3em auto 10px;
  color:#000;
  background:#fff;  
  /* css3 */
  /*
  NOTES:
  -webkit-border-radius:Apx Bpx; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:Apx / Bpx; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:600px 200px;
  -webkit-border-top-right-radius:600px 200px;
  -webkit-border-bottom-right-radius:600px 200px;
  -webkit-border-bottom-left-radius:600px 200px;
  -moz-border-radius:600px / 200px;
  border-radius:600px / 200px;
}

/* creates opening quotation mark */
.oval-quotes:before {
  content:"\201C";
  position:absolute;
  z-index:10;
  top:0;
  left:0;
  font:80px/1 'Exo 2', sans-serif;
  color:#fff;
}

/* creates closing quotation mark */
.oval-quotes:after {
  content:"\201D";
  position:absolute;
  z-index:10;
  bottom:0;
  right:0;
  font:80px/0.25 'Exo 2', sans-serif;
  color:#fff;
}

.oval-quotes p {
  width:450px;
  height:180px;
  padding:50px 0 0;
  margin:0 auto;
  text-align:center;
  /*font-size: 1em;*/
}

/* creates smaller curve */
.oval-quotes p:before {
  content:"";
  position:absolute;
  z-index:2;
  bottom:-33px;
  right:35%;
  width:100px; /* wider than necessary to make it look a bit better in IE8 */
  height:32px;
  background:#000; /* need this for webkit - bug in handling of border-radius */
  /* css3 */
  -webkit-border-bottom-right-radius:40px 50px;
  -moz-border-radius-bottomright:40px 50px;
  border-bottom-right-radius:40px 50px;
  /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
  -webkit-transform:translate(-30px, -2px);
  -moz-transform:translate(-30px, -2px);
  -ms-transform:translate(-30px, -2px);
  -o-transform:translate(-30px, -2px);
  transform:translate(-30px, -2px);
}


/* creates larger curve */
.oval-quotes p:after {
  content:"";
  position:absolute;
  z-index:1;
  bottom:-32px;
  right:25%;
  height:50px;
  border-right:120px solid #fff;
  background:#ffed26; /* need this for webkit - bug in handling of border-radius */
  /* css3 */
  -webkit-border-bottom-right-radius:200px 100px;
  -moz-border-radius-bottomright:200px 100px;
  border-bottom-right-radius:200px 100px;
  /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
  -webkit-transform:translate(0, -2px);
  -moz-transform:translate(0, -2px);
  -ms-transform:translate(0, -2px);
  -o-transform:translate(0, -2px);
  transform:translate(0, -2px);
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.oval-quotes + p {
  position:relative; /* part of the IE8 width compromise */
  width:150px;
  margin:0 0 2em;
  font-size:1em;
  font-weight:bold;
}

@media screen and (max-width: 1200px) {
  
  p, blockquote, li {
      padding: 0 1em;
  }

  h1 {
      font-size: 4em;
  }

  h2 { 
  font-size: 3em;
  }

  p {
    font-size: 2em;
  }

  li {
    font-size: 2em;
  }

  .instruction {
    font-size: 3em; 
  }

  .oval-quotes {
    position:relative;
    width:auto;
    height:auto;
    margin:1em auto;
    color:#fff;
    background:inherit;  
    /* css3 */
    /*
    NOTES:
    -webkit-border-radius:Apx Bpx; // produces oval in safari 4 and chrome 4
    -webkit-border-radius:Apx / Bpx; // produces oval in chrome 4 (again!) but not supported in safari 4
    Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
    */
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -moz-border-radius:0;
    border-radius:0;
  }

  /* creates opening quotation mark */
  .oval-quotes:before {
    content: "";    
  }

  /* creates closing quotation mark */
  .oval-quotes:after {
    content: "";    
  }

  .oval-quotes p {
    width:auto;
    height:auto;
    padding: 0.4em 0;
    margin:0 auto;
    text-align:center;   
    /*font-size: 1em;*/
  }

  /* creates smaller curve */
  .oval-quotes p:before {
    content:"\201C";
    position:inherit;    
    bottom:auto;  
    width: auto; /* wider than necessary to make it look a bit better in IE8 */
    height: auto;
    background:#000; /* need this for webkit - bug in handling of border-radius */
    /* css3 */
    -webkit-border-bottom-right-radius:0;
    -moz-border-radius-bottomright:0;
    border-bottom-right-radius:0;
    /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
    -webkit-transform:translate(0, 0);
    -moz-transform:translate(0, 0);
    -ms-transform:translate(0, 0);
    -o-transform:translate(0, 0);
    transform:translate(0, 0);
  }


/* creates larger curve */
  .oval-quotes p:after {
    content:"\201D";
    position:inherit;

    bottom:auto;
    right:auto;
    height:auto;
    border-right:0;
    background:inherit; /* need this for webkit - bug in handling of border-radius */
    /* css3 */
    -webkit-border-bottom-right-radius:0;
    -moz-border-radius-bottomright:0;
    border-bottom-right-radius:0;
    /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
    -webkit-transform:translate(0, 0);
    -moz-transform:translate(0, 0);
    -ms-transform:translate(0, 0);
    -o-transform:translate(0, 0);
    transform:translate(0, 0);
    /* reduce the damage in FF3.0 */
    display:inline;
  }

  .oval-quotes + p {
    position:relative; /* part of the IE8 width compromise */
    width:150px;
    margin:0 0 2em;
    font-size:1em;
    font-weight:bold;
  }

  .neonPink:hover {
    -webkit-animation: none;
      -moz-animation: none;
      animation: none;  
  }

  .neonYellow:hover {
    -webkit-animation: none;
      -moz-animation: none;
      animation: none;
  }
}

@media screen and (max-width: 600px) {
    
    ul {
      padding: 1em 0 0 0;
      margin: 0;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
      font-size: 2em;
    }

    p {
      font-size: 1em;
    }

    li {
      font-size: 1.2em;
    }

    .instruction {
      font-size: 2em; 
    }

    .fullHeight {
        max-height: 35%;
        max-height: 35vh;
    }
}

/*glow for webkit*/
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #EC008B,
               0 0 70px  #EC008B,
               0 0 80px  #EC008B,
               0 0 100px #EC008B,
               0 0 150px #EC008B;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #EC008B,
               0 0 35px #EC008B,
               0 0 40px #EC008B,
               0 0 50px #EC008B,
               0 0 75px #EC008B;
  }
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FFC906,
               0 0 70px  #FFC906,
               0 0 80px  #FFC906,
               0 0 100px #FFC906,
               0 0 150px #FFC906;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FFC906,
               0 0 35px #FFC906,
               0 0 40px #FFC906,
               0 0 50px #FFC906,
               0 0 75px #FFC906;
  }
}

@-webkit-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #B6FF00,
               0 0 70px  #B6FF00,
               0 0 80px  #B6FF00,
               0 0 100px #B6FF00,
               0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #B6FF00,
               0 0 35px #B6FF00,
               0 0 40px #B6FF00,
               0 0 50px #B6FF00,
               0 0 75px #B6FF00;
  }
}

@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF9900,
               0 0 70px  #FF9900,
               0 0 80px  #FF9900,
               0 0 100px #FF9900,
               0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF9900,
               0 0 35px #FF9900,
               0 0 40px #FF9900,
               0 0 50px #FF9900,
               0 0 75px #FF9900;
  }
}

@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 30px #fff,
               0 0 40px #ff00de,
               0 0 70px #ff00de,
               0 0 80px #ff00de,
               0 0 100px #ff00de,
               0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #ff00de,
               0 0 35px #ff00de,
               0 0 40px #ff00de,
               0 0 50px #ff00de,
               0 0 75px #ff00de;
  }
}

/*glow for mozilla*/
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #EC008B,
               0 0 70px  #EC008B,
               0 0 80px  #EC008B,
               0 0 100px #EC008B,
               0 0 150px #EC008B;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #EC008B,
               0 0 35px #EC008B,
               0 0 40px #EC008B,
               0 0 50px #EC008B,
               0 0 75px #EC008B;
  }
}

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}

@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FFC906,
               0 0 70px  #FFC906,
               0 0 80px  #FFC906,
               0 0 100px #FFC906,
               0 0 150px #FFC906;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FFC906,
               0 0 35px #FFC906,
               0 0 40px #FFC906,
               0 0 50px #FFC906,
               0 0 75px #FFC906;
  }
}

@-moz-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #B6FF00,
               0 0 70px  #B6FF00,
               0 0 80px  #B6FF00,
               0 0 100px #B6FF00,
               0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #B6FF00,
               0 0 35px #B6FF00,
               0 0 40px #B6FF00,
               0 0 50px #B6FF00,
               0 0 75px #B6FF00;
  }
}

@-moz-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF9900,
               0 0 70px  #FF9900,
               0 0 80px  #FF9900,
               0 0 100px #FF9900,
               0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF9900,
               0 0 35px #FF9900,
               0 0 40px #FF9900,
               0 0 50px #FF9900,
               0 0 75px #FF9900;
  }
}

@-moz-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 30px #fff,
               0 0 40px #ff00de,
               0 0 70px #ff00de,
               0 0 80px #ff00de,
               0 0 100px #ff00de,
               0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #ff00de,
               0 0 35px #ff00de,
               0 0 40px #ff00de,
               0 0 50px #ff00de,
               0 0 75px #ff00de;
  }
}

/*glow*/
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #EC008B,
               0 0 70px  #EC008B,
               0 0 80px  #EC008B,
               0 0 100px #EC008B,
               0 0 150px #EC008B;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #EC008B,
               0 0 35px #EC008B,
               0 0 40px #EC008B,
               0 0 50px #EC008B,
               0 0 75px #EC008B;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FFC906,
               0 0 70px  #FFC906,
               0 0 80px  #FFC906,
               0 0 100px #FFC906,
               0 0 150px #FFC906;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FFC906,
               0 0 35px #FFC906,
               0 0 40px #FFC906,
               0 0 50px #FFC906,
               0 0 75px #FFC906;
  }
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #B6FF00,
               0 0 70px  #B6FF00,
               0 0 80px  #B6FF00,
               0 0 100px #B6FF00,
               0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #B6FF00,
               0 0 35px #B6FF00,
               0 0 40px #B6FF00,
               0 0 50px #B6FF00,
               0 0 75px #B6FF00;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF9900,
               0 0 70px  #FF9900,
               0 0 80px  #FF9900,
               0 0 100px #FF9900,
               0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF9900,
               0 0 35px #FF9900,
               0 0 40px #FF9900,
               0 0 50px #FF9900,
               0 0 75px #FF9900;
  }
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 30px #fff,
               0 0 40px #ff00de,
               0 0 70px #ff00de,
               0 0 80px #ff00de,
               0 0 100px #ff00de,
               0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #ff00de,
               0 0 35px #ff00de,
               0 0 40px #ff00de,
               0 0 50px #ff00de,
               0 0 75px #ff00de;
  }
}
